@import "tailwindcss";

:root {
  --background: #FFF8F6;
  --foreground: #040401;
  --myorange: #FF3600;
  --mywhite: white;
  --myblack: #040401;
  --mygrey: #616161;
  --bgsubtle: rgba(255,54,0,0.05);

}

@theme inline {
  --color-myblack:#040401;
  --color-mywhite:#FFF8F6;
  --color-myorange:#FF3600;
  --color-mygrey: #616161;
  --color-bgsubtle: rgba(255,54,0,0.05);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@theme {
  
  --animate-slide-down: slide-down 0.7s ease-out forwards;
  --animate-slide-up: slide-up 0.7s ease-in forwards;


  @keyframes slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 0.9;
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(0);
      opacity: 0.9;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}


body {
  background: white;
  color: black;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Epilogue", sans-serif;
}

h3{
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

p{
  font-size: 16px;
  color: var(--mygrey);
}




/* MyButton Start */

.mybutton{
  display: inline-block;
  min-width: fit-content;
  padding: 16px 25px;
  background-color: var(--myorange);
  color: var(--mywhite);
  border-radius: 99px;
  font-weight: 600;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.mybutton:hover{
  background-color: var(--myblack);
  color: var(--mywhite);
}

/* MyButton End */

/* Navbar Start */

#menu li{
  width: fit-content;
  padding: 14px 15px;
  font-size: 14px;
  font-weight: 500;
}

#menu li a{
  transition: color 0.5s ease;
}

#menu li a:hover{
  color: var(--myorange);
}

.dropdown{
  position: relative;
  cursor: pointer;
}

.dropdown-items{
  position: absolute;
  top: 100%;
  left: 0;
  width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  padding: 15px;
  background-color: var(--myorange);
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.dropdown-items li a:hover{
  color: var(--myblack) !important;
}

.dropdown:hover .dropdown-items{
  opacity: 1;
  visibility: visible;
}

/* Mobile Menu */

#mobile-menu li {
  width: fit-content;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
}

#mobile-menu li a{
  transition: color 0.5s ease;
}

#mobile-menu li a:hover{
  color: var(--myorange);
}

/* Navbar End */

/* Footer Start */

.main-footer p{
  font-size: 14px;
  font-weight: 400;
}

.footer-links li {
  width: fit-content;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.5s ease;
}

.footer-links li:hover{
  color: var(--myorange);
}

/* Footer End */
