@import "tailwindcss";

:root {
  --background: #FFF8F6;
  --foreground: #040401;

}

@theme inline {
  --color-myblack:#040401;
  --color-mywhite:#FFF8F6;
  --color-myorange:#FF3600;
}


body {
  background: white;
  color: black;
}
